In [1]:
import pandas as pd

df_data = pd.read_csv('Feature_SanMulti.csv')

df_data.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,147,148,149,150,151,152,153,154,155,Class
0,0,1001,1001,1001,1001,1001,1001,1001,1001,1001,...,4609,4609,4609,4609,4609,4609,4609,4609,4609,0
1,1,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0
2,2,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0
3,3,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0
4,4,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0
5,5,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0
6,6,965,952,937,917,896,895,1052,1304,1406,...,4485,4450,4393,4114,3331,2417,2015,838,839,1
7,7,928,913,898,876,866,903,1103,1300,1397,...,4462,4430,4349,3889,3125,2273,1885,853,839,1
8,8,976,958,939,925,902,891,1018,1273,1394,...,4496,4461,4419,4177,3464,2487,2071,840,839,1
9,9,983,970,954,934,909,891,976,1240,1386,...,4512,4470,4430,4265,3589,2590,2158,837,839,0

In [7]:
value=df_data['150'].to_numpy()

In [8]:
print(value)

[4609 4265 4265 4265 4265 4265 4114 3889 4177 4265 3894 3979 4266 4265
 4265 4265 4265 4265 3907 3864 4412 4265 3881 4412 3883 4265 4265 4265
 4265 4265 3891 4116 3921 4265 4176 4015 4348 4265 4265 4265 4265 4265
 3864 4116 4345 4265 4171 4174 3976 4265 4265 4265 4265 4265 3870 4380
 4020 4265 3877 4380 4015 4265 4265 4265 4265 4265 3883 4392 3883 4265
 4116 4009 4171 4265 4265 4265 4265 4265 4009 4171 4116 4265 4380 4171
 4181 4265 4265 4265 4265 4265 4281 3905 3905 4265 3864 4389 4402 4265
 4265 4265 4265 4265 4345 3980 4184 4265 4265 4405 4009 4265 4265 4265
 4265 4265 3976 4171 3869 4265 3905 4171 4114 4265 4265 4265 4265 4265
 3976 3976 4116 4265 4116 4007 4007 4265 4265 4265 4265 4265 3871 4116
 3870 4265 3977 4114 4361 4265 4265 4265 4265 4265 4392 4117 3914 4265
 4004 4117 4009 4265 4265 4265 4265 4265 3869 3883 4116 4265 3976 4362
 4008 4265 4265 4265 4265 4265 3913 4405 4007 4265 3869 4178 3976 4265
 4265 4265 4265 4265 3905 3915 3867 4265 4392 4177 4392 4265 4265 4265
 4265 4265 3874 4375 4345 4265 4136 4008 4188 4265 4265 4265 4265 4265
 4116 4265 4412 4265 4359 3913 4177 4265 4265 4265 4265 4265 3883 4054
 3976 4265 4116 3883 3867 4265 4265 4265 4265 4265 3905 4361 4171 4265
 3869 3869 4405 4265 4265 4265 4265 4265 3867 4389 4116 4265 4265 4177
 4392 4265 4265 4265 4265 4265 4389 4019 3976 4265 4116 4404 4116 4265
 4265 4265 4265 4265 3881 4405 4345 4265 3869 3867 4380 4265 4265 4265
 4265 4265 4182 4432 4112 4265 4014 4391 4054 4265 4265 4265 4265 4265
 4174 4265 3869 4265 4171 3872]

In [4]:
import time
start = time.time()
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

print("XGBoost using Voltage and Branch flow")

feature=[]
for i in range(156):
    feature.append("{}".format(i))


X=df_data[feature] # Features
y=df_data['Class']  # Labels
#y=data["Class"].astype("category")
#print(X)

bst = XGBClassifier(n_estimators=200, max_depth=3, learning_rate=0.1)
scores = cross_val_score(bst, X, y, cv=10)
print("%0.3f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()))
end = time.time()
print("The time of execution of above program is :", (end-start), "S")

XGBoost using Voltage and Branch flow
99.333 accuracy with a standard deviation of 0.01
The time of execution of above program is : 0.834834098815918 S

In [ ]:
import time
start = time.time()

end = time.time()
print("The time of execution of above program is :", (end-start) * 10**3, "ms")

In [10]:
feature=[]
for i in range(156):
    feature.append("{}".format(i))


X=df_data[feature] # Features
y=df_data['Class']  # Labels
#y=data["Class"].astype("category")


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Don't cheat - fit only on training data
scaler.fit(X)
#X_train = scaler.transform(X_train)
# apply same transformation to test data
#X_test = scaler.transform(X_test)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(700,),activation='logistic', learning_rate='constant', learning_rate_init=0.001, random_state=1, max_iter=1500, warm_start=True)

scores = cross_val_score(clf, X, y, cv=10)
print("%0.3f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()))

99.667 accuracy with a standard deviation of 0.01